<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489104179920-1n1cns2o5dnecdclmg5ofuj4emngkmon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489104179920-1n1cns2o5dnecdclmg5ofuj4emngkmon</string>
	<key>API_KEY</key>
	<string>AIzaSyDrR0FQxUDxZBXsN6FePVL_rgmVDLLh7D4</string>
	<key>GCM_SENDER_ID</key>
	<string>489104179920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iradreports.app</string>
	<key>PROJECT_ID</key>
	<string>radreports-b6f17</string>
	<key>STORAGE_BUCKET</key>
	<string>radreports-b6f17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489104179920:ios:f12b3c200f8a933f01d4d5</string>
</dict>
</plist>